@{
    ViewData["Title"] = "Movies";
}
@model IEnumerable<PMDB_docker.Models.MovieDto>

<div class="card-deck justify-content-center">
    @foreach (var movie in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h5>@movie.Title</h5>
                <h7>@movie.Genre</h7>
            </div>
            <img class="card-img-top" src="~/img/noimage.png" asp-append-version="true"/>
            <div class="card-footer text-center">
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>