@{
    ViewData["Title"] = "Index";
}
@model List<PMDB_docker.Business.Movie>

<section class="bg-light page-section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Movies</h2>
                <h3 class="section-subheading text-muted">This is a list of all the movies in the database</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var m in @Model)
            {
                <div class="col-md-3 col-sm-5 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-thumbnail" src="https://images-na.ssl-images-amazon.com/images/I/71nsvxFpSTL._SY606_.jpg" alt/>
                    </a>
                    <div class="portfolio-caption">
                        <p>@m.Title</p>
                        <p class="text-muted">@m.Runtime</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
