@model MovieRandomViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search movie" aria-label="Search movie" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Button</button>
    </div>
</div>

<div class="card-deck justify-content-center mx-auto" style="width: 75%">
    @foreach (var movie in Model.Movies)
    {
        <div class="card m-1 border-0 rounded-0 shadow-lg" style="min-width: 200px;">
            <img class="card-img" src="@movie.PosterPath" asp-append-version="true"/>
            <div class="card-body">
                <p class="card-text font-weight-bold text">@movie.Title</p>
                <p class="card-text text-muted">@movie.ReleaseDate?.ToString("dd-MM-yyyy")</p>
            </div>
        </div>
    }
</div>