@model MovieRandomViewModel
@{
    ViewData["Title"] = "Home";
}

<form asp-action="Search" asp-controller="Movie" method="post">
    <div class="input-group mb-3">
        <input type="text" name="SearchQuery" class="form-control" placeholder="Search for movie..."/>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="card-deck justify-content-center mx-auto" style="width: 75%">
    @foreach (var movie in Model.Movies)
    {
        <div class="card m-1 border-0 rounded-0 shadow-lg" style="min-width: 250px;">
            <img class="card-img" src="@movie.PosterPath" asp-append-version="true"/>
            <div class="card-body">
                <p class="card-text font-weight-bold text">@movie.Title</p>
                <p class="card-text text-muted">@movie.ReleaseDate?.ToString("dd-MM-yyyy")</p>
            </div>
        </div>
    }
</div>