<div class="mt-1">
    <h4>An error occured while processing your request. The support team is notified and we are working on the fix</h4>
    <h5>Please contact us on support@meelsnet.nl</h5>
    <hr />
    <h5>Exception Details:</h5>
    <div class="alert alert-danger">
        <h6>Exception Path</h6>
        <hr />
        <p>@ViewBag.ExceptionPath</p>
    </div>
    <div class="alert alert-danger">
        <h6>Exception Message</h6>
        <hr />
        <p>@ViewBag.ExceptionMessage</p>
    </div>
    <div class="alert alert-danger">
        <h6>Exception Stack Trace</h6>
        <hr />
        <p>@ViewBag.StackTrace</p>
    </div>

</div>